* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

a:visited {
    color:white;
}
a:hover {
    color: #480352;
}

a:active {
    color: white;
}

body {
    background-color:black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

.Avatar {
    margin: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 3.7px;
    border: #480352 solid 4px;
}

h1 {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 8px;
}

ul {
    list-style: none;
    margin: 48px 0;

}

.logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#insta {
    height: 30px;
    width: 35px;
    margin-right: 10px;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21022b;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover {
    background:#480352;
    color: white;

}

footer {
    font-weight: 500;
    font-size: 12px;
}